.main{
	background-color:#9v9dA0
}
.one{
	background-color:c0c6d1
}
h1{
	text-align:center;border:2px solid black;
	} 
.image{
	margin-left:275px; float:left; padding:15px; border: 3px solid black
}
img{
	border="1"
}
.two{
	border:4px double white;margin-right:150px;padding-left:20px;padding-right:20px;margin-top:100px; float:right; background-color:black
}
h2{
	text-align:center;
}
.three{
	   border:2px solid black;margin-left:250;margin-right:150;margin-top: 20 ;background-color:c0c6d1;text-align:justify;float:left; clear:left;padding-top:3px;padding-left:20px;padding-right:20px
}
